@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: theme('colors.primary.DEFAULT') transparent;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen font-sans;
}
